<!-- begin post -->
{% assign author = site.authors[post.author] %}



<div class="card">
    <div class="row no-gutters m-2">
        <div class="col-sm-5 p-2">
            <a href="{{ post.url | absolute_url }}">
                {% if post.image %} <img class="rounded" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}"> {% endif %}
            </a>
        </div>
        <!-- <div class="col-sm-1">
        </div> -->
        <div class="col-sm-7 d-flex flex-column">
            <div class="card-body d-flex flex-column">
                <a href="{{ post.url | absolute_url }}">
                <h2 class="card-title h4 nanumB-font">{{ post.title }}</h2>
                <p class="card-text nanum-font">{{ post.excerpt | strip_html | truncatewords:20 }}</p>
                </a>
                <div class="metafooter _align-self-end mt-auto">
                    <div class="wrapfooter small d-flex align-items-center">
                        <span class="author-meta">
                        <a href="/about"><span class="post-name"> {% if post.author %}{{ author.display_name }}{% else %}{{ site.author }}{% endif %}, </span></a>
                        <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
                        </span>               
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<hr/>
</div>
<!-- end post -->