/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {
    padding-top: 0px;
}

.white {
	color: #dee2e6;
}

/*.huge {
    font-size: 2em;
}*/

.page-title {
	margin: 10px 0 10px 0;
    font-size: 2.5rem;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: "Arial", sans-serif;
    color: #fff;
}

qq {
	padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: #E3EDF3 1px solid;
    background: #F7FAFB;
    border-radius: 2px;
}

.text-responsive {
  font-size: calc(140%);
}

.text-responsive-more {
  font-size: calc(90%);
}

.imgwrapper {
   width: 90%;
}




.author-image {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    padding: 6px;
    background: #fff;
    z-index: 2;
    box-shadow: #E7EEF2 0 0 0 1px;
}

.author-image .img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
}

.author-profile .author-image {
    position: relative;
    left: auto;
    top: auto;
    width: 120px;
    height: 120px;
    padding: 3px;
    margin: -100px auto 0 auto;
    box-shadow: none;
}

.author-title {
    margin: 1.5rem 0 1rem;
}

.author-bio {
    font-size: 1.8rem;
    line-height: 1.5em;
    font-weight: 200;
    color: #50585D;
    letter-spacing: 0;
    text-indent: 0;
}

.author-meta {
    margin: 0.6rem 0;
}
/* Location, website, and link */
.author-profile .author-meta {
    margin: 2rem 0;
    font-family: "Nanum Gothic", serif;
    letter-spacing: 0.01rem;
    font-size: 1.7rem;
}
.author-meta span {
    display: inline-block;
    margin: 0 0.3rem 0rem 0;
    word-wrap: break-word;
}
.author-meta a {
    text-decoration: none;
}


.post-footer {
    position: relative;
    /*margin: 6rem 0 0 0;*/
    padding: 2rem 0 0 0;
    border-top: #EBF2F6 1px solid;
}

.post-footer h4 {
    font-size: 1.2rem;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.75em;
}