---
layout: default
disqus: true
archive: false
cover: /assets/images/blog_bg3.png
logo: /assets/images/coffee_whale_only_bg.png
post_class: post-template
---

<header class="main-header {% if layout.cover %}" style="background-image: url({{ layout.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if layout.cover %} overlay {% endif %} clearfix">
        <a class="blog-logo" href="/">
            <img src="{{ layout.logo }}" alt="Blog Logo" />
        </a>

        <!--
        <a class="back-button icon-arrow-left" href="/">Home</a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
        -->
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% if page.categories.size > 0 %}
                    {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
                {% endif %}
            </section>
        </header>

<!--         <header class="post-header">
            <a id="blog-logo" href="{{site.url}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <!-- <span class="post-meta">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </span> -->

        <!-- <h1 class="post-title">{{ page.title }}</h1> -->

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="/about/index.html" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <a href='/about/index.html' style='text-decoration: none;'>
                    <h4> {{ site.author }} </h4>
                    </a>
                    <!-- Author Bio -->
                    <p>
                        술 좋아하면 술고래, 커피 좋아하면 커피고래~
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}
            {% include disqus.html %}

        </footer>

    </article>

</main>

